PORTAL_URL=
PORTAL_USUARIO=
PORTAL_PASSWORD=
HEADLESS=true

# Tenant/App Registration de 'BPO'
BPO_TENANT_ID=
BPO_CLIENT_ID=
BPO_CLIENT_SECRET=
BPO_SHAREPOINT_HOSTNAME=fractaliagroup.sharepoint.com
BPO_SHAREPOINT_SITE_PATH=/sites/BPO
BPO_SHAREPOINT_FOLDER_PATH=Planificación y Control/Insumos/Chile/BASES_PANEL_CC

# Tenant/App Registration de 'ReportingFractalia'
REPORTING_TENANT_ID=
REPORTING_CLIENT_ID=
REPORTING_CLIENT_SECRET=
REPORTING_SHAREPOINT_HOSTNAME=fractaliagroup.sharepoint.com
REPORTING_SHAREPOINT_SITE_PATH=/sites/ReportingFractalia
REPORTING_SHAREPOINT_DRIVE_NAME=Data Reporting
REPORTING_SHAREPOINT_FOLDER_PATH=REPOSITORIOS DE CRUDOS/CHILE/BPOCHIPE/15 PORTAL COMERCIAL

GRAPH_TIMEOUT=120000
