SQL_SERVER=sqlclu01lis01.tchile.local
SQL_DATABASE=Externos_Frac
SQL_DOMAIN=TCHILE
SQL_USER=frp_apared
SQL_PASSWORD=
SQL_DRIVER=ODBC Driver 17 for SQL Server

TENANT_ID=
CLIENT_ID=
CLIENT_SECRET=
GRAPH_TIMEOUT=120000

SHAREPOINT_HOSTNAME=fractaliagroup.sharepoint.com
SHAREPOINT_SITE_PATH=/sites/ReportingFractalia
SHAREPOINT_DRIVE_NAME=Data Reporting
SHAREPOINT_FOLDER_PATH=REPOSITORIOS DE CRUDOS/CHILE/BPOCHIPE/13 SERVIDOR CHILE
