DB_SERVER=172.17.0.162
DB_DATABASE=CL_CAMPAÑAS
DB_CARTERA_DATABASE=CL_CARTERA
DB_USER=mparedes
DB_PASSWORD=
DB_DRIVER=ODBC Driver 18 for SQL Server

EXCEL_CLIENTES_PATH=/ruta/local/ACTUAL_.xlsx
EXCEL_CLIENTES_SHEET=DB
EXCEL_DETRACTORES_SHEET=DB_DETRACTOR

CSV_SALESFORCE_PATH=/ruta/local/Reporte_termometros_v2.csv
CSV_SALESFORCE_ENCODING=cp1252
CSV_SALESFORCE_DELIMITER=,

PERIODO=202607
FECHA_INICIO=2026-07-01
FECHA_FIN=2026-07-31
